.principalCon {
  background-color: #ffbe0b;
  height: 100%;
  padding: 5rem 0 5rem 0;
  text-align: center;
  min-height: 65vh;
}

.principalCon_title {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.cajaMensaje {
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 15px;
}
