.principalLoc {
  background-color: #ffbe0b;
  height: 100%;
  padding: 5rem 0 5rem 0;
  text-align: center;
}

.principalLoc__title {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.principalLoc__altaCba {
  font-weight: 500;
  color: white;
  margin-bottom: 1.3rem;
  font-size: 1.8rem;
  text-align: left;
}

.principalLoc__text {
  font-weight: 500;
  color: white;
  margin: 1.3rem 0 1.3rem 0;
  font-size: 1.3rem;
  text-align: left;
}
