.principalQui {
  background-color: #ffbe0b;
  height: 100%;
  padding: 5rem 0 5rem 0;
  text-align: center;
}

.principalQui__title {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.principalQui__text {
  font-weight: 500;
  color: white;
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  text-align: justify;
}
